page-contactus {
	.content {
		background-color: white;
	}
	h5 {
		font-size: 14px;
		line-height: 20px;
	}
	.cont {
		background-color: white;
		padding-left: 0px;
	}
	#sub {
		margin-top: 15px;
	}
}
