<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  <ion-list>
    <ion-card ion-item *ngFor="let item of items" class="card-item" (click)="itemTapped($event, item)">
	  <img *ngIf="item._embedded['wp:featuredmedia']" [src] ="item._embedded['wp:featuredmedia'][0].source_url"/>
    <hr>
	  <ion-card-content text-wrap class="card-content">
	  	  <ion-title>
		    <h2 [innerHTML]="item.title.rendered" text-left text-wrap></h2>
		    </ion-title>

		    <p [innerHTML]="item.excerpt.rendered"></p>
        <hr>
        <p>{{date_post}}</p>
    </ion-card-content>
    </ion-card>
    
  </ion-list>

  
</ion-content>