page-post-details {

	.post-details {
		background-color: white;
	}

	.bar-button-default-md {
		color: white;
	}

	img {
		margin: 0px;
		width: 100%;
	}

	.scroll-content {
		padding: 0px !important;
	}
	

	div .post-body {
		font-size: 14px;
		line-height: 20px;
	}
	
	
	#relatedPosts {
		margin-top:	30px;
		margin-left: 15px;
		margin-right: 10px;
	}
	
	.relatedPost {
		background-color: white;
		color: #000;
		margin-top:	10px;
		margin-bottom:	10px;
		padding: 0px 5px;
		background-clip: content-box;
	}
	
	.twishare {
		background: #00B6F1;
	}

	.fbshare {
		background: #3B5998;
	}

	.watshare {
		background: #00FF7F;
	}
	
	h6 {
		font-size:14px;
	}
	
	.Rtitle {
		padding-top: 20px;
	}	

	.backButton {
		border-radius: 100%;
	}
}

